<!doctype html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>promise then的链式调用</title>
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
  </head>
  <body>
  <!--<h2>假设孩子吃完饭才可以出去玩：</h2>-->
  <!--<ul>-->
    <!--<li>洗手</li>-->
    <!--<li>吃饭</li>-->
    <!--<li>洗碗</li>-->
    <!--<li>完成了，可以出去玩耍</li>-->
  <!--</ul>-->
  <script src="//cdn.bootcss.com/jquery/2.2.4/jquery.min.js"></script>
  <script src="../../scripts/promise_then_then_then.js"></script>

  </body>
</html>
